name: lint

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'main'
    tags:
      - '*'
  workflow_dispatch: {}

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
    - name: setup golang
      uses: actions/setup-go@v3
      with:
        go-version: '^1.18'

    - name: checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v3.1.0
      with:
        version: v1.45.2
