name: release

on:
  push:
    tags:
      # NOTE: these tags are pushed after success of the `release-testing.yaml` workflow.
      #       see the RELEASE.md documentation for more details.
      - "v*"

jobs:
  release:
    environment: gcloud
    runs-on: ubuntu-latest
    steps:

    # --------------------------------------------------------------------------
    # Repository Checkout
    # --------------------------------------------------------------------------

    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: '^1.16'
    - name: cache go modules
      uses: actions/cache@v2.1.6
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go
    - name: checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    # --------------------------------------------------------------------------
    # Tests
    # --------------------------------------------------------------------------

    - name: run unit tests
      run: make test.unit

    - name: run integration tests
      run: make test.integration
      env:
        KONG_ENTERPRISE_LICENSE: ${{ secrets.KONG_ENTERPRISE_LICENSE }}

    - name: run e2e tests
      run: make test.e2e
      env:
        GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
        GOOGLE_PROJECT: ${{ secrets.GOOGLE_PROJECT }}
        GOOGLE_LOCATION: ${{ secrets.GOOGLE_LOCATION }}
        KONG_ENTERPRISE_LICENSE: ${{ secrets.KONG_ENTERPRISE_LICENSE }}

    # --------------------------------------------------------------------------
    # Github Release
    # --------------------------------------------------------------------------

    - name: release
      id: create_release
      uses: actions/create-release@v1
      with:
        draft: true
        prerelease: true
        release_name: ${{ github.ref }}
        tag_name: ${{ github.ref }}
        body: |
          See the [CHANGELOG.md](https://raw.githubusercontent.com/Kong/kubernetes-testing-framework/main/CHANGELOG.md)
      env:
        GITHUB_TOKEN: ${{ github.token }}

    # --------------------------------------------------------------------------
    # Build & Upload Artifacts
    # --------------------------------------------------------------------------

    - name: build linux amd64 artifacts
      run: make build GOOS=linux GOARCH=amd64
    - name: upload linux amd64 artifacts
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./build/ktf.linux.amd64
        asset_name: ktf.linux.amd64
        asset_content_type: application/octet-stream

    - name: build mac amd64 artifacts
      run: make build GOOS=darwin GOARCH=amd64
    - name: upload mac amd64 artifacts
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./build/ktf.darwin.amd64
        asset_name: ktf.darwin.amd64
        asset_content_type: application/octet-stream

    # --------------------------------------------------------------------------
    # Generate Checksums
    # --------------------------------------------------------------------------

    - name: generate checksums for linux amd64 artifacts
      run: sha256sum ktf.linux.amd64 >> CHECKSUMS
      working-directory: ./build/

    - name: generate checksums for mac amd64 artifacts
      run: sha256sum ktf.darwin.amd64 >> CHECKSUMS
      working-directory: ./build/

    - name: upload checksums
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./build/CHECKSUMS
        asset_name: CHECKSUMS
        asset_content_type: text/plain

