name: tests

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'
    tags:
      - '*'

jobs:
  tests-and-coverage:
    environment: "ENTERPRISE"
    runs-on: ubuntu-latest
    steps:
    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: '^1.16'
    - name: cache go modules
      uses: actions/cache@v2.1.6
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go
    - name: checkout repository
      uses: actions/checkout@v2
    - name: run all tests
      run: make test.all
      env:
        KONG_ENTERPRISE_LICENSE: ${{ secrets.KONG_ENTERPRISE_LICENSE }}
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.0.3
      with:
        fail_ci_if_error: true
